services:
  web:
    container_name: front-mrcod
    image: "registry.gitlab.com/mrcod/front:latest"
    ports:
      - "3301:3000"
    networks:
      - local
      - mysql
    environment:
      - NEXTAUTH_URL=$NEXTAUTH_URL
      - NEXTAUTH_SECRET=$NEXTAUTH_SECRET
      - DB_URL=$DB_URL
      - TOKEN_KEY=$TOKEN_KEY
      - PAYMENTS_KEY=$PAYMENTS_KEY
networks:
  mysql:
    name: mysql
    external: true
  local:
    name: local
    external: true