version: '3'

services:
  web:
    container_name: nginx
    image: "registry.gitlab.com/nginx6244905/node2:master"
    ports:
      - "80:80"
    networks:
      - local
      - nginx    
    restart: always
networks:
  nginx:
    name: nginx
    external: true
  local:        
    name: local   
    external: true       
